<div ng-controller="EmployeeList">

	<table st-set-filter="customFilter" st-table="displayed" st-safe-src="collection" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th st-sort="fName">First Name</th>
          <th st-sort="mName">Middle Name</th>
          <th st-sort="lName">Last Name</th>
          <th st-sort="cNumber">Contact Number</th>
          <th st-sort="email">Email</th>
          <th st-sort="">action</th>
        </tr>
        <tr>
          <th>
            <input placeholder="search First Name" st-search="fName" />
          </th>
          <th>
            <input placeholder="search Middle Name" st-search="mName" />
          </th>
          <th>
            <input placeholder="search Last Name" st-search="lName" />
          </th>

          <th>
            <input placeholder="search Contact Number" st-search="cNumber" />
          </th>

          <th>
            <input placeholder="search Email" st-search="email" />
          </th>
          
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in displayed">
          <td>{{row.fName}}</td>
          <td>{{row.mName}}</td>
          <td>{{row.lName}}</td>
          <td>{{row.cNumber}}</td>
          <td>{{row.email}}</td>
          <td>
            <button ng-click="editEmployee(row)">Edit</button>
            <button ng-click="deleteEmployee(row)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
</div>